

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <partial name="Partials/_Styles" />
</head>
<body>
    <partial name="Partials/_Header" />

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="Partials/_Footer" />
    <partial name="Partials/_Scripts" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

